body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    color: white;
    overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, h1, div, input {
    margin: 0;
    padding: 0;
}
h1{
    text-shadow: 0 -3px 5px rgba(0,0,0,.5);
}
h2 {
    text-shadow: 0 0 4px rgba(0,0,0,.5);
}
p {
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}

h2 {
    font-size: 2.5em;
    width: 30%;
    margin: auto;
    color: white;
}

#weather {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 10px 0 10px 0;
    color: white;
}

#day1, #day2, #day3, #day4 {
    width: 21%;
    height: 251px;
    margin: 15px 10px;
    padding: 10px 0 10px 0;
}

div.nextDays, div.today {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 10px;
}

p {
    margin: 5px 30px 5px 30px;
}

h1 {
    font-size: 5em;
    color: rgb(240, 240, 0);
}

input {
    width: 80%;
    line-height: 1.8;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 2em;
    margin-bottom: 0;
}

.big {
    font-size: 2.6em;
}

.medium {
    font-size: 1.7em;
}

.small {
    font-size: 1.4em;
}

.inline {
    display: inline-block;
}

.hide {
    display: none;
}

#results {
    position: absolute;
    right: 11%;
    top: 37px;
    width: 78%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
    border-radius: none;
    border-top: none;
}

#results>div {
    background-color: white;
    opacity: .8;
    color: black;
    border-radius: none;
    font-size: 1.2em;
    width: 100%;
    padding: 0;
}

#results div:hover, #results div:focus {
    background-color: lightgray;
    outline: none;
}

div {
    display: inline-block;
}

#searchDiv {
    position: relative;
    display: inline-block;
    width: 60%;
}

input:focus{
    outline: none;
}

.fourDays {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 1000px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 450px) {

    h1 {
        margin-top: 5%;
        font-size: 48px;
    }

    input {
        width: 100%;
        line-height: 40px;
        border-radius: 20px;
        font-size: 40px;
        margin-bottom: 0;
    }

    #searchDiv {
        width: 95%;
    }

    .big {
        font-size: 28px;
    }
    
    .medium {
        font-size: 24px;
    }
    
    .small {
        font-size: 12px;
    }

    #weather {
        width: 95%;
        margin: 5px auto 0 auto;
        color: white;
    }

    p {
        margin: 0;
    }

    .fourDays {
        flex-direction: column;
    }

    #day1, #day2, #day3, #day4 {
        width: 90%;
        height: auto;
    }

    .inline {
        display: block;
        margin: 3px 0;
    }

    div {
        display: block;
    }

    h2 {
        font-size: 36px;
        width: 90%;
    }

}