* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    display: none;
}
body {
    display: flex;
    justify-content: center;
}
main {
    position: relative;
}
#main-img {
    max-width: 100vw;
    max-height: 100vh;
    border: 2px solid black;
}

#clippy {
    position: absolute;
    left: 4%;
    bottom: 4%;
    width: 7vw;
    max-width: 83px;
    filter: drop-shadow(0 0 10px rgb(255,255,0));
    animation: look-at-me 4s linear;
}

@keyframes look-at-me {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(-20deg);
    }
    10% {
        transform: rotate(20deg);
    }
    15% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(0) scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1) rotate(0);
    }
    75% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(20deg);
    }
    85% {
        transform: rotate(-20deg);
    }
    90% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* CHAT BUBBLE */
.bubble {
    position: absolute;
    box-sizing: border-box;
    width: 35%;
    height: 25%;
    left: .5%;
    bottom: 27%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.2vw;
    background: #ffd;
    box-shadow: 0 -0.25vmin, 0 0.125vmin;
    font-family: "Comic Sans", "Comic Neue", sans-serif;
    border: 0.5vmin solid black;
    border-radius: 100%;
    opacity: 0;
    animation: speak 3.5s 2 alternate;
}
.octopus-bubble {
    display: flex;
    animation-delay: 3.7s;
    animation-duration: 4.5s;
}

.bubble::before {
    width: 40%;
    height: 100%;
    bottom: -51%;
    border-radius: 50%;
    left: 10%;
    box-shadow: 0.5vmin 0, 2vmin -0.5vmin #ffd, 2vmin -0.5vmin 0 0.5vmin;
    clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
    content: "";
    display: block;
    position: absolute;
}

@keyframes speak {
    0%{
        max-height: 0;
        max-width: 0;
        opacity: 0;
        font-size: 0;
        left: 8%;
        bottom: 17%;
    }
    30% {
        max-height: 25%;
        max-width: 35%;
        opacity: 1;
        font-size: 2.2vw;
        left: .5%;
        bottom: 27%;
    }
    100% {
        opacity: 1;
    }
}

label {
    position: absolute;
    display: none;
}
label[for="octopus"] {
    display: inline;
    width: 8%;
    height: 8%;
    /* background-color: aquamarine; */
    top: 19%;
    left: 20.5%;
    transform: rotate(-45deg);
}

#octopus:checked ~ .octopus-bubble {
    display: none;
}
#octopus:checked ~ .monkey-bubble {
    display: flex;
}
#octopus:checked ~ label[for="octopus"] {
    display: none;
}
#octopus:checked ~ label[for="monkey"] {
    display: inline;
}
label[for="monkey"] {
    width: 8%;
    height: 8%;
    top: 5%;
    background-color: aquamarine;
    left: 45%;
}
#monkey:checked ~ .monkey-bubble {
    display: none;
}
#monkey:checked ~ .dinosaur-bubble {
    display: flex;
}
#monkey:checked ~ label[for="monkey"] {
    display: none;
}
#monkey:checked ~ label[for="dinosaur"] {
    display: inline;
}
label[for="dinosaur"] {
    width: 10%;
    height: 9%;
    top: 4%;
    left: 71%;
    background-color: aquamarine;
}
#dinosaur:checked ~ .four-bubble {
    display: flex;
}
#dinosaur:checked ~ label[for="dinosaur"] {
    display: none;
}
#dinosaur:checked ~ label[for="four"] {
    display: inline;
}

label[for="four"] {
    width: 4%;
    height: 6%;
    top: 72.8%;
    left: 52%;
    background-color: aquamarine;
    border-radius: 50%;
}
#four:checked ~ .pretzel-bubble {
    display: flex;
}
#four:checked ~ label[for="four"] {
    display: none;
}
#four:checked ~ label[for="pretzel"] {
    display: inline;
}

label[for="pretzel"] {
    width: 9%;
    height: 14%;
    top: 3.4%;
    left: 2.4%;
    background-color: aquamarine;
    border-radius: 50%;
}
#pretzel:checked ~ .triangle-bubble {
    display: flex;
}
#pretzel:checked ~ label[for="pretzel"] {
    display: none;
}
#pretzel:checked ~ label[for="triangle"] {
    display: inline;
}

label[for="triangle"] {
    width: 9%;
    height: 14%;
    top: 3.4%;
    left: 2.4%;
    background-color: aquamarine;
    border-radius: 50%;
}